.container {
  max-width: 1024px;
  margin: 0 auto;

  .jumbotron{

    h1{
      position: absolute;
      z-index:0;
      color: white;
      font-size: 64px;
      font-weight:bold;
      line-height: 75px;
    }
    .intergrity {
      top: 290px;
      left: 330px;
    }

    .excellence {
      top: 350px;
      left:330px;

    }

    .progress {
      top: 400px;
      left: 330px;
    }
  }

  section {

    max-width: 850px;
    
  }
  

}