.container {
  max-width: 1024px;
  margin: 0 auto;

  .jumbotron{
    position: absolute;
    width: 100%;
    z-index: 1;

    h1{
      position: absolute;
      z-index:0;
      color: white;
      font-size: 64px;
      font-weight:bold;
      line-height: 75px;
    }
    .intergrity {
      top: 290px;
      left: 330px;
    }

    .excellence {
      top: 350px;
      left:330px;

    }

    .progress {
      top: 400px;
      left: 330px;
    }
  }

  section {

    max-width: 850px;
    margin: 35px auto;

    .desktop{
      // nothing now;
    }
    .mobile {
      display: none;
      @media @mobile{
        display: block;
      }
      .futureandsmith {
        .top1{
          display: flex;

          @media @mobile {
            flex-direction: column;
          }
          .text{
            margin-top: 50px;

          }
          

        }
        
      }
   

  }
  
  

}