.tab-navigator{
    max-width: 854px;
    margin: 0 auto;
    .tab-links{
        display:flex;
        width: 100%;
        justify-content: space-between;

        @media @mobile{
            flex-direction: column;
        }

        .tab-link {
            h2{
                font-size: 22px;
                font-weight: 500;
    
            }
            width: 25%;
            border: 1px solid black;
            padding: 10px;
            text-align: center;
    
            @media @mobile{
                width: 100%;
                margin: 10px 0;
            }
            cursor: pointer;
            &:hover{
                color:white;
                background: #222222;
            }
        }
        .tab-selected{
            background: #5e9fb9;
        }
    }



    

    .tab-item{
        display: none;
        margin: 50px 0 100px 0;
        .info{
            width: 100%;
            .heading{
                font-size: 28px; 
            }
            p{
                margin: 20px 20px 20px 0;
                font-size: 16px;
                line-height: 24px;
                width:50%;
            }
        }
        .services-img{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            @media @mobile{
                justify-content: center;
            }
        }
    }
    .tab-selected {
        display: flex;
        @media @mobile{
            flex-direction: column;
        }
    }
}